@import 'tailwindcss';

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Helvetica Neue, Adwaita Sans, Cantarell, Ubuntu, Roboto, Noto, Helvetica, Arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Palatino Linotype, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
}

@layer base {
  * {
    @apply outline-current outline-offset-4 selection:bg-transparent selection:line-through focus-visible:outline-4! focus-visible:outline-dashed! focus-visible:rounded-xs;
  }

  body {
    @apply antialiased bg-orange-50 dark:bg-neutral-900;
  }
}

@utility container {
  @apply mx-auto px-5 sm:px-6 lg:px-8 2xl:max-w-7xl;
}

.dev {
  *:not(.dev-switcher, .dev-switcher *) {
    @apply outline outline-current outline-offset-0;
  }
}
